<app-header></app-header>

<section class="course-page-title"
  style="background-image: url(https://jufailitech.com/envatoitems/LMSOne/html/images/background/pattern-10.png)">
  <div class="auto-container">
    <div class="title">Science Teach</div>
    <h2>Biology</h2>
    <div class="d-flex flex-wrap">
      <div class="rating">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star-o"></span>
        <i>4.9 (34 reviews)</i>
      </div>
      <div class="courses">8,277 enrolled on this course</div>
    </div>
    <div class="text">Get an introduction to the science of forensic science and discover how it's applied <br> in the
      real world. How does forensic science really work? </div>
  </div>
</section>




<section class="course-detail-section">
  <div class="auto-container">
    <div class="row clearfix">

      <!-- Content Column -->
      <div class="content-column col-lg-8 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="image">
            <img src="https://jufailitech.com/envatoitems/LMSOne/html/images/resource/course-25.jpg" alt="">
          </div>

          <!-- Course Info Tabs -->
          <div class="course-info-tabs">
            <!-- Course Tabs -->
            <div class="course-tabs tabs-box">



              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Option 2</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Option 3</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="Reviews-tab" data-bs-toggle="tab" data-bs-target="#Reviews" type="button"
                    role="tab" aria-controls="Reviews" aria-selected="false">Reviews</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="content">
                    <h3>Discover the biology and chemistry behind <br> forensic science</h3>
                    <h4>About Course</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here, content here', making it look like
                      readable English. Many desktop publishing packages and web page</p>
                    <p>On the course you will get an introduction to the chemistry and biology of forensic science. You
                      will examine the methods used in forensic science and learn about how these technique are used in
                      crime scenes and explained in the court room.</p>
                    <div class="row clearfix">
                      <div class="learn-box col-lg-5 col-md-5 col-sm-12">
                        <div class="box-inner">
                          <div class="icon flaticon-degree"></div>
                          <h5>Your learning, <br> your rules</h5>
                          <div class="learn-text">Courses are split into weeks, activities, and steps to help you keep
                            track of your learning</div>
                        </div>
                      </div>
                      <div class="learn-box style-two col-lg-7 col-md-7 col-sm-12">
                        <div class="box-inner">
                          <div class="icon flaticon-book-2"></div>
                          <h5>Join a global classroom</h5>
                          <ul class="check-list">
                            <li>Share ideas with your peers and course educators on every step of the course</li>
                            <li>Apply the chemistry knowledge acquired to approach the learning and understanding of
                              more </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <h4>What topics will you cover?</h4>
                    <p>On the course you will get an introduction to the chemistry and biology of forensic science. You
                      will examine the methods used in forensic science and learn about how these technique are used in
                      crime scenes and explained in the court room.</p>
                    <div class="row clearfix">
                      <div class="col-lg-8 col-md-12 col-sm-12">
                        <ul class="check-list style-two">
                          <li>Demonstrate an understanding of the genome that enables them to comprehend forensic DNA
                            analysis</li>
                          <li>Complete 90% of course steps and all of the assessments to earn your certificate</li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <ul class="check-list style-two">
                          <li>Forensic Biology</li>
                          <li>Evidence in Court Room</li>
                          <li>Forensic Chemistry</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="content">
                    <h4>Curriculum</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here, content here', making it look like
                      readable English. Many desktop publishing packages and web page</p>
                    <p>On the course you will get an introduction to the chemistry and biology of forensic science. You
                      will examine the methods used in forensic science and learn about how these technique are used in
                      crime scenes and explained in the court room.</p>
                    <div class="row clearfix">
                      <div class="learn-box col-lg-5 col-md-5 col-sm-12">
                        <div class="box-inner">
                          <div class="icon flaticon-degree"></div>
                          <h5>Your learning, <br> your rules</h5>
                          <div class="learn-text">Courses are split into weeks, activities, and steps to help you keep
                            track of your learning</div>
                        </div>
                      </div>
                      <div class="learn-box style-two col-lg-7 col-md-7 col-sm-12">
                        <div class="box-inner">
                          <div class="icon flaticon-book-2"></div>
                          <h5>Join a global classroom</h5>
                          <ul class="check-list">
                            <li>Share ideas with your peers and course educators on every step of the course</li>
                            <li>Apply the chemistry knowledge acquired to approach the learning and understanding of
                              more </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <h4>What topics will you cover?</h4>
                    <p>On the course you will get an introduction to the chemistry and biology of forensic science. You
                      will examine the methods used in forensic science and learn about how these technique are used in
                      crime scenes and explained in the court room.</p>
                    <div class="row clearfix">
                      <div class="col-lg-8 col-md-12 col-sm-12">
                        <ul class="check-list style-two">
                          <li>Demonstrate an understanding of the genome that enables them to comprehend forensic DNA
                            analysis</li>
                          <li>Complete 90% of course steps and all of the assessments to earn your certificate</li>
                        </ul>
                      </div>
                      <div class="col-lg-4 col-md-12 col-sm-12">
                        <ul class="check-list style-two">
                          <li>Forensic Biology</li>
                          <li>Evidence in Court Room</li>
                          <li>Forensic Chemistry</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="content">
                    <h4>Instructor</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                      when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                      distribution of letters, as opposed to using 'Content here, content here', making it look like
                      readable English. Many desktop publishing packages and web page</p>
                    <p>On the course you will get an introduction to the chemistry and biology of forensic science. You
                      will examine the methods used in forensic science and learn about how these technique are used in
                      crime scenes and explained in the court room.</p>
                    <div class="row clearfix">
                      <div class="learn-box col-lg-5 col-md-5 col-sm-12">
                        <div class="box-inner">
                          <div class="icon flaticon-degree"></div>
                          <h5>Your learning, <br> your rules</h5>
                          <div class="learn-text">Courses are split into weeks, activities, and steps to help you keep
                            track of your learning</div>
                        </div>
                      </div>
                      <div class="learn-box style-two col-lg-7 col-md-7 col-sm-12">
                        <div class="box-inner">
                          <div class="icon flaticon-book-2"></div>
                          <h5>Join a global classroom</h5>
                          <ul class="check-list">
                            <li>Share ideas with your peers and course educators on every step of the course</li>
                            <li>Apply the chemistry knowledge acquired to approach the learning and understanding of
                              more </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="content">

                    <!--Reviews Container-->
                    <div class="comments-area">
                      <!--Comment Box-->
                      <div class="comment-box">
                        <div class="comment">
                          <div class="comment-inner">
                            <div class="comment-info clearfix">Steven Rich – March 17, 2022:</div>
                            <div class="rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star light"></span>
                            </div>
                            <div class="text">How all this mistaken idea of denouncing pleasure and praising pain was
                              born and I will give you a complete account of the system, and expound the actual
                              teachings.</div>
                          </div>
                        </div>
                      </div>
                      <!--Comment Box-->
                      <div class="comment-box reply-comment">
                        <div class="comment">
                          <div class="comment-inner">
                            <div class="comment-info clearfix">William Cobus – April 21, 2022:</div>
                            <div class="rating">
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star"></span>
                              <span class="fa fa-star-half-empty"></span>
                            </div>
                            <div class="text">There anyone who loves or pursues or desires to obtain pain itself,
                              because it is pain sed, because occasionally circumstances occur some great pleasure.
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- Comment Form -->
                    <div class="course-comment-form mt-4">
                      <h4>Add Your Comments</h4>
                      <div class="rating-box d-none">
                        <div class="text"> Your Rating:</div>
                        <div class="rating">
                          <a href="#"><span class="fa fa-star"></span></a>
                        </div>
                        <div class="rating">
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                        </div>
                        <div class="rating">
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                        </div>
                        <div class="rating">
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                        </div>
                        <div class="rating">
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                          <a href="#"><span class="fa fa-star"></span></a>
                        </div>
                      </div>
                      <form method="post" action="contact.html">
                        <div class="row clearfix">
                          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>First Name *</label>
                            <input type="text" name="username" placeholder="" required="">
                          </div>

                          <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                            <label>Last Name*</label>
                            <input type="email" name="email" placeholder="" required="">
                          </div>
                          <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>Email*</label>
                            <input type="text" name="number" placeholder="" required="">
                          </div>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <label>Your Comments*</label>
                            <textarea name="message" placeholder=""></textarea>
                          </div>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                            <button class="theme-btn btn-style-one">
                              <span class="txt" class="btn btn-primary">Submit now</span>
                            </button>

                          </div>

                        </div>
                      </form>

                    </div>

                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>

      <!-- Sidebar Column -->
      <div class="sidebar-column col-lg-4 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="content">
            <div class="price">₹900.00</div>
            <ul class="list">
              <li>
                <i class="fas fa-hand-point-right"></i>
                Instructor
                <strong>Wiliam Andro</strong>
              </li>
              <li>
                <i class="fas fa-hand-point-right"></i>
                Lessons
                <strong>20 Lessons</strong>
              </li>
              <li>
                <i class="fas fa-hand-point-right"></i>
                Level
                <strong>Intermediate</strong>
              </li>
              <li>
                <i class="fas fa-hand-point-right"></i>
                Language
                <strong>English</strong>
              </li>
            </ul>
            <a class="enroll-now theme-btn" href="#">Enroll Now !</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<app-footer></app-footer>
