.header-section {
  background-color: #0e4d85;
  background-image: url("../../../assets/images/hero-mask.png");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.main-container {
  width: 1280px;
  margin-top: 20px;
  margin: 0 auto !important;
}
@media (min-width: 1280px) {
  .main-container {
      width: 1280px;
      margin: 0 auto !important;
  }
}
@media (max-width: 1280px) {
  .main-container {
      width: 100%;
  }
}

.breadcrumb {
  font-weight: 500;
  background: 0 0;
  padding: 0;
  font-size: 12px !important;
}

.breadcrumb-item a {
  color: #ffffff !important;
  font-size: 14px;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #fff;
}

.page-heading {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.page-subheading {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.discount-text {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.price-text {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  .del-text {
      font-size: 13px;
  }
}
.del-text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media (max-width: 768px) {
  .buy-card {
      min-height: 325px !important;
      min-width: 250px !important;
  }
}

.buy-card {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px #0000001a;
  position: fixed;
  right: 4%;
  border-radius: 10px;
  min-height: auto;
  min-width: 350px;
  margin-top: 10px;
  bottom: 15.5%;
}

.discounted-text {
  background-color: #fff;
  color: #46b586;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 3px;
}

.buy-card-small {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px #0000001a;
  border-radius: 10px;
}

.head-img-div {
  position: relative;
}

.video-box {
  background: no-repeat padding-box #211818;
  border-radius: 20px;
  height: 220px;
  width: 360px;
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 480px) {
  .video-box {
      width: auto !important;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}


img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.font-fam-med, .font-fam-medium {
  font-weight: 400;
}

.special-text {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

.card-details-div {
  margin-left: auto;
}

@media (max-width: 576px) {
  .card-price-text {
      font-size: 26px !important;
  }
}
@media (max-width: 768px) {
  .card-price-text {
      font-size: 22px !important;
  }
}
.card-price-text {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .card-del-text {
      font-size: 14px !important;
  }
}
.card-del-text {
  font-size: 16px;
  font-weight: 400;
  color: #888;
}

@media (max-width: 768px) {
  .card-discounted-text {
      font-size: 12px !important;
  }
}
.card-discounted-text {
  font-size: 14px;
  font-weight: bold;
  background-color: #47b586;
  border-radius: 20px;
  color: #fff;
  padding: 5px;
}

.btnbuynow {
  height: 50px;
  background: #5a4bda 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: #ffffff;
  width: 100%;
  outline: none !important;
  border: 1px solid #5a4bda;
}

@media (max-width: 576px) {
  .batch-heading {
      font-size: 17px;
  }
}

@media (max-width: 768px) {
  .batch-heading {
      font-size: 19px;
  }
}
@media (max-width: 992px) {
  .batch-heading {
      font-size: 22px;
  }
}
.batch-heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 62px;
  color: #3c3c3c;
}

@media (max-width: 768px) {
  .batch-heading {
      font-size: 19px;
  }
}

@media (max-width: 992px) {
  .batch-heading {
      font-size: 22px;
  }
}
.batch-heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 62px;
  color: #3c3c3c;
}

.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-prev {
  display: none;
}

.owl-next {
  background-color: #FFFFFF !important;
  background: url(../../../assets/images/slider/right-arrow.svg) right center no-repeat padding-box;
  box-shadow: -3px 0px 6px #00000029;
  border-radius: 16px 0px 0px 16px;
  height: 60px;
  position: absolute;
  top: 42%;
  /* width: 65px; */
  z-index: 1000;
  right: 0%;
  cursor: pointer;
  color: transparent;
  margin-top: -27px;
  opacity: 1;
}

.faculty-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 20px #0000001f;
  border-radius: 20px;
  color: #5236ce;
  min-height: 115px;
}

.faculty-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #565656;
}

.knowmore {
  border-radius: 20px;
  border-color: #1676dc;
  background-color: #5236ce;
  color: #fff;
}

#faq.accordion-item {
  border: 0 !important;
  background: #f0f4fa 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .batch-heading {
      font-size: 19px;
  }
}

@media (max-width: 992px) {
  .batch-heading {
      font-size: 22px;
  }
}
.batch-heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 62px;
  color: #3c3c3c;
}

.icon-quora:before {
  content: 'Q';
}

[class*=" icon-"]:before,[class^=icon-]:before {
  font-family: fontello;
  font-style: normal;
  font-weight: 900;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1.2em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em
}

.course-page-title {
  position: relative;
  padding: 90px 0px 135px;
  background-repeat: repeat;
  background-color:rgb(246,246,246);
}
.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}


.course-page-title .title {
  position: relative;
  padding: 3px 10px;
  display: inline-block;
  font-size: 14px;
  color: #ffff;
  background-color:#0e4d85;
}


.course-page-title h2 {
  font-weight: 700;
  font-size: 4rem;
  color:#111;

  margin-top: 10px;
  margin-bottom:20px;
  // font-family: var(--font-family-Titillium-Web);
}


.course-page-title .rating {
  position: relative;
}
.course-page-title .courses {
  position: relative;
  font-weight: 400;
  line-height: 1em;
  font-size: 14px;
  color: #111;
  margin-left: 20px;
  padding-left: 45px;
}

.course-page-title .text {
  line-height: 38px;
  font-size: 24px;
  color: #111;
  margin-top: 20px;
}




.course-detail-section .sidebar-column {
  position: relative;
  margin-bottom: 30px;
}



@media only screen and (max-width: 1340px) {
  .course-detail-section .sidebar-column .inner-column {
      margin-left: 0px;
      position: sticky;
        top: 10px;
  }
}



.course-detail-section .sidebar-column .content {
  position: relative;
  border-radius: 1px;
  padding: 35px 40px 0px;
  background-color: #ffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
}

.course-detail-section .sidebar-column .price {
  position: relative;
  font-weight: 600;
  line-height: 1em;
  font-size: 35px;
  color: #111;
  margin-bottom: 30px;
}



.course-detail-section .sidebar-column ul {
  position: relative;
  list-style: none;
  padding: 0;
}


.course-detail-section .sidebar-column .enroll-now {
  position: relative;
  font-weight: 600;
  display: block;
  left: -55px;
  margin-right: -95px;
  padding: 18px 15px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #0e4d85;
}

.course-detail-section .content-column .image {
  position: relative;
  margin-bottom: 30px;
}

.course-detail-section .sidebar-column .enroll-now:before {
  position: absolute;
  content: '';
  left: 0px;
  top: -15px;
  border-bottom: 15px solid #0e4d85;
  border-left: 15px solid transparent;
}


.course-detail-section .sidebar-column ul li {
  position: relative;
  font-weight: 100;
  font-size: 20px;
  color:#000;
  padding-left: 30px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}


.course-detail-section .sidebar-column ul i {
  position: absolute;
  left: 0px;
  top: 4px;
  line-height: 1em;
  font-size: 20px;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.course-detail-section .sidebar-column ul li:hover i {
  transform: rotateX(180deg);
}


.course-tabs ul li button.active{
  color: #fff;
  border-color: #111;
  background-color: #0e4d85;
}

.course-tabs ul li button {
  position: relative;
  line-height: 24px;
  cursor: pointer;
  font-weight: 600;
  padding: 17px 36px;
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;
  transition: all 500ms ease;
  color: #111;
  margin-right: 10px;
  border-radius: 0;
  background-color: #fff;
}


.course-tabs .content {
  position: relative;
  padding: 50px 0px 0px;
}


.course-detail-section .comments-area .comment-box:nth-child(1) {
  padding-top: 0px;
}

.course-detail-section .comments-area .comment .comment-inner {
  position: relative;
  padding: 15px 20px;
  border: 1px solid #ddd;
}

.course-detail-section .comments-area .comment-info {
  position: relative;
  line-height: 24px;
  font-weight: 600;
  color: #111;
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

}


.course-detail-section .comments-area .comment-box .text {
  font-weight: 400;
  font-size: 16px;
  color: #111;
  margin-top:10px;
  margin-bottom: 10px;
}


.course-comment-form .form-group input[type="text"], .course-comment-form .form-group input[type="password"], .course-comment-form .form-group input[type="tel"], .course-comment-form .form-group input[type="email"], .course-comment-form .form-group select , textarea {
  position: relative;
  display: block;
  width: 100%;
  line-height: 28px;
  padding: 10px 15px;
  border: 1px solid #efefef;
  height: 50px;
  color: #111;
  font-weight: 300;
  background: #ddd;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease;
}


.course-comment-form .form-group input[type="text"]:focus, .course-comment-form .form-group input[type="password"]:focus, .course-comment-form .form-group input[type="tel"]:focus, .course-comment-form .form-group input[type="email"]:focus, .course-comment-form .form-group select:focus, .course-comment-form .form-group textarea:focus , textarea:focus{
  border-color: #000;
}
