.all-courses {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0px;
}

.all-courses:hover .dropdown-content {
    display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(59, 59, 59, 0.2);
  z-index: 1;
}

.dropdown-item {
  position: relative;
}

.dropdown-item:hover .dropdown-subcontent {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-subcontent {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}



.social-list{
  list-style: none;

}
.social-list li a{
  font-size: 15px;
  color: #fff;
  margin: 0 5px;
}
.cart_count {
  top: 0;
  position: absolute;
  font-size: 12px;
  right: 0;
  padding: 0px 5px;
  border-radius: 16px;
  color: #111;
  z-index: 1;
}


.line_white::before {
  content: "";
  border: 1px solid #fff;
  height: 100%;
  display: block;
  position: absolute;
  top: -19px;
  right: -5px;
  min-height: 38px;
  background: #111;
}

.line_white{
  position: relative;
  margin: 0 13px;

}

.text_light {
color: #fff;
}


@media (max-width:600px) {
.padding_0 {
  padding: 0;
}
}



.dropdown-menu .dropdown-item:hover .submenu {
  display: block;
  background: #fff;
  width: 100%;
}
.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin-top: -1px; /* Adjust as needed */
}
.dropdown-item {
  position: relative;
}


.nav-link {
  font-weight: 500;
  font-size: 15px;
}
