<!-- <nav class="navbar bg-blue">
  <div class="container-fluid w-100 justify-content-around padding_0">
    <div class="row w-100">
      <div class="col-lg-6 col-12 padding_0">
        <div class="d-flex justify-content-center align-items-center">
          <div> <span class="mx-2 text-light position-relative">Call:</span><a href="tel:8055055001" class="text-light">8055055001</a> </div>
          <span class="line_white"></span>
          <div class="d-flex">
            <p class="d-inline m-0 mx-2 text-light">Follow Us: </p>
            <ul class="list-none social-list m-0 p-0 d-flex justify-content-evenly">
              <li
                ><a><i class="fab fa-twitter"></i></a
              ></li>
              <li
                ><a><i class="fab fa-facebook"></i></a
              ></li>
              <li
                ><a><i class="fab fa-instagram"></i></a
              ></li>
              <li
                ><a><i class="fab fa-linkedin"></i></a
              ></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="float-end" *ngIf="!this.token">
          <a class="mx-1 text_light" routerLink="/login"><i class="fab fa-signup"></i>Login</a>
          <a class="mx-1 text_light"><i class="fa fa-login"></i>Register</a>
        </div>
        <div class="dropdown float-end" *ngIf="this.token">
          <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="handleLogout()">Logout</a></li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</nav> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="" routerLink="/home">
      <img src="assets/logo.png" width="150" height="65"/> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">
          <div style="padding: 8px;">
            Home
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/about">
          <div style="padding: 8px;">
            About us
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/study-abroad">
          <div style="padding: 8px;">
            Study Abroad
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">
          <div style="padding: 8px;">
            Shop
          </div>
        </a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" routerLink="/blogs">
          <div style="padding: 8px;">
            Blog
          </div>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">
          <div style="padding: 8px;">
            Contact us
          </div>
        </a>
      </li>
      
    </ul>
  </div>
  </div>
</nav>
<!-- 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="" routerLink="/">
      <img *ngIf="this.logo" [src]="this.logo[0]?.logoPath === null ? '../../../../../assets/logo.png':  'http://paramapi.getmocktest.com/Logos/'+this.logo[0]?.logoPath.trim()" alt="logo-img" width="150" height="65" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  routerLink="/">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">
            About PARAM
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/study-abroad" routerLinkActive="active">Study Abroad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/shop" routerLinkActive ="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blogs" routerLinkActive="active" >Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
