
<nav class="navbar bg-blue">
  <div class="container-fluid w-100 justify-content-around padding_0">
    <div class="row w-100">
      <div class="col-lg-6 col-12 padding_0">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <span class="mx-2 text-light position-relative">Call:</span><span class="text-light">1234567890</span>
          </div>
          <span class="line_white"></span>
          <div class="d-flex">
            <p class="d-inline m-0 mx-2 text-light">Follow Us: </p>
            <ul class="list-none social-list m-0 p-0 d-flex justify-content-evenly">
              <li><a><i class="fab fa-twitter"></i></a></li>
              <li><a><i class="fab fa-facebook"></i></a></li>
              <li><a><i class="fab fa-instagram"></i></a></li>
              <li><a><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="float-end">
          <a class="mx-1 text_light"><i class="fab fa-signup"></i>Login</a>
          <a class="mx-1 text_light"><i class="fa fa-login"></i>Register</a>
        </div>
      </div>
    </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="" href="#"><img src="../../../../../assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About PARAM
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link " routerLink="course" routerLinkActive="active">
            Course
          </a>
          <!-- <ul class="dropdown-menu"> dropdown-toggle role="button" data-bs-toggle="dropdown" aria-expanded="false"
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Study Abroad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Contact Us</a>
        </li>
        <li class="nav-item position-relative">
          <a class="nav-link" aria-disabled="true"><i class="fa fa-shopping-cart"></i><span class=" cart_count bg-danger">0</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true"><i class="fa fa-search"></i></a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
