
<nav class="navbar bg-blue">
  <div class="container-fluid w-100 justify-content-around padding_0">
    <div class="row w-100">
      <div class="col-lg-6 col-12 padding_0">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <span class="mx-2 text-light position-relative">Call:</span><span class="text-light">1234567890</span>
          </div>
          <span class="line_white"></span>
          <div class="d-flex">
            <p class="d-inline m-0 mx-2 text-light">Follow Us: </p>
            <ul class="list-none social-list m-0 p-0 d-flex justify-content-evenly">
              <li><a><i class="fab fa-twitter"></i></a></li>
              <li><a><i class="fab fa-facebook"></i></a></li>
              <li><a><i class="fab fa-instagram"></i></a></li>
              <li><a><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="float-end">
          <a class="mx-1 text_light"><i class="fab fa-signup"></i>Login</a>
          <a class="mx-1 text_light"><i class="fa fa-login"></i>Register</a>
        </div>
      </div>
    </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="" href="#"><img src="../../../../../assets/logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            About PARAM
          </a>
        </li>
        <li class="nav-item dropdown">
          <!-- <div class="container mt-5">
            <div class="dropdown"> -->
              <a class="link nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li class="dropdown-item">
                  <a href="#">Competitive Exams</a>
                  <ul class="submenu list-unstyled">
                    <li class="dropdown-item"><a href="#">IIT JEE</a></li>
                    <li class="dropdown-item"><a href="#">NEET</a></li>
                    <li class="dropdown-item"><a href="#">ESE</a></li>
                    <li class="dropdown-item"><a href="#">GATE</a></li>
                    <li class="dropdown-item"><a href="#">AE/JE</a></li>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <a href="#">Only IAS</a>
                  <ul class="submenu list-unstyled">
                    <li class="dropdown-item"><a href="#">UPSC</a></li>
                    <li class="dropdown-item"><a href="#">State PSC</a></li>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <a href="#">School Preparation</a>
                  <ul class="submenu list-unstyled">
                    <li class="dropdown-item"><a href="#">Foundation (Class 6-10)</a></li>
                    <li class="dropdown-item"><a href="#">Commerce</a></li>
                    <li class="dropdown-item"><a href="#">Arts</a></li>
                    <li class="dropdown-item"><a href="#">CuriousJr (3rd - 8th)</a></li>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <a href="#">Govt Exam</a>
                  <ul class="submenu list-unstyled">
                    <li class="dropdown-item"><a href="#">Judiciary</a></li>
                    <li class="dropdown-item"><a href="#">SSC</a></li>
                    <li class="dropdown-item"><a href="#">Defence</a></li>
                    <li class="dropdown-item"><a href="#">Teaching</a></li>
                    <li class="dropdown-item"><a href="#">JAIIB & CAIIB</a></li>
                    <li class="dropdown-item"><a href="#">BIHAR EXAMS WALLAH</a></li>
                    <li class="dropdown-item"><a href="#">UP Exams</a></li>
                    <li class="dropdown-item"><a href="#">Railway</a></li>
                    <li class="dropdown-item"><a href="#">Nursing Exams</a></li>
                    <li class="dropdown-item"><a href="#">Banking</a></li>
                    <li class="dropdown-item"><a href="#">WB Exams</a></li>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <a href="#">UG & PG Entrance Exams</a>
                  <ul class="submenu list-unstyled">
                    <li class="dropdown-item"><a href="#">MBA</a></li>
                    <li class="dropdown-item"><a href="#">IPMAT</a></li>
                    <li class="dropdown-item"><a href="#">IIT JAM & CSIR NET</a></li>
                    <li class="dropdown-item"><a href="#">LAW</a></li>
                    <li class="dropdown-item"><a href="#">CUET UG</a></li>
                    <li class="dropdown-item"><a href="#">UGC NET</a></li>
                    <li class="dropdown-item"><a href="#">GMAT</a></li>
                    <li class="dropdown-item"><a href="#">Design & Architecture</a></li>
                  </ul>
                </li>
                <li class="dropdown-item">
                  <a href="#">Finance</a>
                  <ul class="submenu list-unstyled">
                    <li class="dropdown-item"><a href="#">CA</a></li>
                    <li class="dropdown-item"><a href="#">CS</a></li>
                  </ul>
                </li>
              </ul>
            <!-- </div>
          </div> -->

        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Study Abroad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true">Contact Us</a>
        </li>
        <li class="nav-item position-relative">
          <a class="nav-link" aria-disabled="true"><i class="fa fa-shopping-cart"></i><span class=" cart_count bg-danger">0</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-disabled="true"><i class="fa fa-search"></i></a>
        </li>
      </ul>
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
