<app-card cardTitle="Create Lectures" [options]="false">

  <form class="row" autocomplete="off" [formGroup]="lectureForm" (ngSubmit)="handleSubmit()" #one>
    <div class="mb-3 col-lg-6">
      <label class="form-label">Course</label>
      <select class="form-select" (change)="handleCourse($event)" formControlName="courseName">
        <option *ngFor="let list of courseList" [value]="list.id">{{list.title}}</option>
      </select>
    </div>

    <div class="mb-3 col-lg-6" formArrayName="description">
      <div *ngFor="let desc of description.controls; let i = index" [formGroupName]="i" class="col-12">
        <div>
          <label class="form-label">Description {{i + 1}}</label>
          <div class="d-flex align-items-center">
            <div class="mb-3 col-lg-12">
              <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
            </div>
          </div>
        </div>
        <button type="button" (click)="removeDescription(i)" class="btn btn-danger mt-2" *ngIf="description.length > 1">Remove</button>
      </div>
      <button type="button" (click)="addDescription()" class="btn btn-success">Add Description</button>
    </div>



    <div class="mb-3 col-lg-12">
      <button type="submit" class="btn btn-primary">{{!this.onedit ?'Submit' : 'Update'}}</button>
      <div class="spinner-border text-dark" role="status" *ngIf="this.sloader == true">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </form>


<div>
  <!-- <a type="submit" (click)="handleSubmit()" class="btn btn-primary w-25"   width="100px"></a> -->
</div>

</app-card>




<app-card cardTitle="Lectures List" [options]="false">
  <table class="table" >
    <!-- *ngIf="this.courseList.length > 0;else elsePart" -->
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Course Id</th>
        <th scope="col">Test Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of this.lecturesList; index as i">
        <th scope="row">{{i+1}} </th>
        <td>{{list.id}}</td>
        <td>
          <ul>
            <li *ngFor="let link of list.description.split(',')">
              <a target="_blank" [innerHTML]="link.trim()"></a>
            </li>
          </ul>
        </td>
        <!-- <td>{{list.description}}</td> -->
        <!-- <td><img src="http://paramapi.getmocktest.com/{{list.image.replace('wwwroot\\', '').replace('/\\/g', '/')}}" width="50px" height="50px"/></td> -->
        <td>
          <!-- <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
            <span class="sr-only">Loading...</span>*ngIf="this.loader == false"
          </div> -->
          <a class="btn btn-danger btn-sm" (click)="handleDelete(list.id)" ><i class="fa fa-trash"></i></a>
          <a class="btn btn-info btn-sm" (click)="handleEdit(list,  one)" ><i class="fa fa-edit"></i></a></td>
      </tr>
    </tbody>
  </table>
  <!-- <ng-template #elsePart>
    <div class="alert alert-danger" role="alert">
      There is no course created yet !
    </div>
  </ng-template> -->

</app-card>
