<app-header></app-header>

<!-- banner -->
<section class="banner">
  <div class="banner-content">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Study Abroad</a></li>
    </ol>
    <p class="banner-heading">Study Abroad</p>
  </div>
</section>


<div class="container study-abroad">
  <div class="row" *ngFor="let list of aboutList">
    <div class="col-md-12 my-4 d-flex flex-column justify-content-center">
      <h2 class="title">Study Abroad</h2>
      <p [innerHTML]="list.title">Lorem ipsum dolor sit amet consectetur.</p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
      <!-- <div class="d-flex align-items-center">
        <a href="#" class="btn btn-danger">Know More</a>
      </div> -->
    </div>
    <!-- <div class="col-md-6">
      <img src="assets/study.png" alt="Study Abroad Illustration" class="w-100">
      <img [src]="'http://paramapi.getmocktest.com/'+list.imagePath.replace('wwwroot\\', '').replace('/\\/g', '/')" alt="{{list.image}}.png" class="w-100">
    </div> -->
  </div>
</div>


<app-footer></app-footer>
