<app-header></app-header>

<section class="page-title" style="background-image: url(https://jufailitech.com/envatoitems/LMSOne/html/images/background/pattern-10.png)">
  <div class="pattern-layer" style="background-image: url(images/background/pattern-9.png)"></div>
  <div class="auto-container">
    <h2 style="color: white">Course</h2>
    <ul class="bread-crumb p-0">
      <li><a href="/">Home</a></li>
      <li>Course</li>
    </ul>
  </div>
</section>

<div class="container course-container">
  <div class="row">
    <a href="/course/1">
      <div class="box-class col-12 col-md-12 d-md-flex mt-3">
        <div class="col-12 col-md-4 video-box pt-2 me-0 me-md-4">
          <img
            src="https://assets.technologynetworks.com/production/dynamic/images/content/381532/synthetic-biology-natures-tools-redesigned-381532-1280x720.webp?cb=12576265"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-8 ps-0 ps-md-3 mt-2">
          <div class="d-md-flex justify-content-between mb-2">
            <h3 class="class-header" id="courseTitle1">11th Biology</h3>
          </div>
          <div class="mb-2 class-desc"></div>
          <div class="d-flex col-12 col-md-8 justify-content-center mb-4"> </div>

          <div class="justify-content-start spe-price">Special Discounted Price</div>

          <div class="d-md-flex justify-content-between">
            <div class="d-flex justify-content-between col-md-5">
              <div class="class-price" id="evnCoursePrice1"> ₹ 500 </div>
              <div class="class-old-price"><del>₹ 2999</del></div>
              <div class="class-price-off">33% OFF</div>
            </div>

            <div class="float-end me-md-4">
              <div class="font-fam-med font-16 col-4">
                <span class="expCourse" id="evn_explore1"
                  ><button type="button" class="btn btn-block btn-primary px-4 px-md-5">Explore</button></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/">
      <div class="box-class col-12 col-md-12 d-md-flex mt-3">
        <div class="col-12 col-md-4 video-box pt-2 me-0 me-md-4">
          <img
            src="https://images.squarespace-cdn.com/content/v1/586ec16bb3db2b558ebfec60/694329ee-2cd8-4786-9406-77ca00f30b07/math-header.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-8 ps-0 ps-md-3 mt-2">
          <div class="d-md-flex justify-content-between mb-2">
            <h3 class="class-header" id="courseTitle1">11th Advance Math</h3>
          </div>
          <div class="mb-2 class-desc"></div>
          <div class="d-flex col-12 col-md-8 justify-content-center mb-4"> </div>

          <div class="justify-content-start spe-price">Special Discounted Price</div>

          <div class="d-md-flex justify-content-between">
            <div class="d-flex justify-content-between col-md-5">
              <div class="class-price" id="evnCoursePrice1"> ₹ 500 </div>
              <div class="class-old-price"><del>₹ 2999</del></div>
              <div class="class-price-off">33% OFF</div>
            </div>

            <div class="float-end me-md-4">
              <div class="font-fam-med font-16 col-4">
                <span class="expCourse" id="evn_explore1"
                  ><button type="button" class="btn btn-block btn-primary px-4 px-md-5">Explore</button></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
    <a href="/">
      <div class="box-class col-12 col-md-12 d-md-flex mt-3">
        <div class="col-12 col-md-4 video-box pt-2 me-0 me-md-4">
          <img
            src="https://cmsv2-assets.apptegy.net/uploads/12837/file/1394965/86a7f4dc-5aba-4456-967d-1bfbc3d4aa01.jpeg"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-8 ps-0 ps-md-3 mt-2">
          <div class="d-md-flex justify-content-between mb-2">
            <h3 class="class-header" id="courseTitle1">11th Basic Math</h3>
          </div>
          <div class="mb-2 class-desc"></div>
          <div class="d-flex col-12 col-md-8 justify-content-center mb-4"> </div>

          <div class="justify-content-start spe-price">Special Discounted Price</div>

          <div class="d-md-flex justify-content-between">
            <div class="d-flex justify-content-between col-md-5">
              <div class="class-price" id="evnCoursePrice1"> ₹ 500 </div>
              <div class="class-old-price"><del>₹ 2999</del></div>
              <div class="class-price-off">33% OFF</div>
            </div>

            <div class="float-end me-md-4">
              <div class="font-fam-med font-16 col-4">
                <span class="expCourse" id="evn_explore1"
                  ><button type="button" class="btn btn-block btn-primary px-4 px-md-5">Explore</button></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<app-footer></app-footer>
