<app-header></app-header>

<section class="page-title" style="background-image: url(https://jufailitech.com/envatoitems/LMSOne/html/images/background/pattern-10.png)">
    <div class="pattern-layer" style="background-image: url(images/background/pattern-9.png)"></div>
    <div class="auto-container">
        <h2>Course</h2>
        <ul class="bread-crumb p-0">
            <li><a href="/">Home</a></li>
            <li>Course</li>
        </ul>
    </div>
</section>


<section class="course-page-section-two">
    <div class="auto-container">
        <div class="row">

            <!-- Sidebar Column -->
            <div class="sidebar-column col-lg-3 col-md-8 col-sm-12">

                <!-- Search Widget -->
                <div class="sidebar-widget search-box d-none">
                    <div class="widget-content">
                        <form method="post" action="contact.html">
                            <div class="form-group m-0">
                                <input type="search" name="search-field" value="" placeholder="Search" required="">
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Category Widget -->
                <div class="sidebar-widget category-widget">
                    <div class="widget-content">
                        <!-- Sidebar Title -->
                        <div class="sidebar-title">
                            <h5>Subjects</h5>
                        </div>

                        <!-- Brands List -->
                        <div class="brands-list">
                            <form method="post" action="contact.html">

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" checked="" id="type-1">
                                        <label for="type-1">Business  (5)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-2">
                                        <label for="type-2">Development  (9)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-3">
                                        <label for="type-3">Lifestyle  (3)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-4">
                                        <label for="type-4">Teaching  (5)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-5">
                                        <label for="type-5">Study Skills (10)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-6">
                                        <label for="type-6">Science, Engineering  (8)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-7">
                                        <label for="type-7">Politics &amp; Society(16)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-8">
                                        <label for="type-8">Creative Arts &amp; Media (10)</label>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

                <!-- Category Widget -->
                <div class="sidebar-widget category-widget d-none">
                    <div class="widget-content">
                        <!-- Sidebar Title -->
                        <div class="sidebar-title">
                            <h5>Language</h5>
                        </div>

                        <!-- Brands List -->
                        <div class="brands-list">
                            <form method="post" action="contact.html">

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-9">
                                        <label for="type-9"> German (7)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-10">
                                        <label for="type-10">China (40)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-11">
                                        <label for="type-11">Korian (7)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-12">
                                        <label for="type-12">English (11)</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-13">
                                        <label for="type-13">Spanish (4)</label>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>


                <!-- Category Widget -->
                <div class="sidebar-widget category-widget">
                    <div class="widget-content">
                        <!-- Sidebar Title -->
                        <div class="sidebar-title">
                            <h5>Level</h5>
                        </div>

                        <!-- Brands List -->
                        <div class="brands-list">
                            <form method="post" action="contact.html">

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-14">
                                        <label for="type-14">Beginner</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-15">
                                        <label for="type-15">Intermediate</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="check-box">
                                        <input type="checkbox" name="remember-password" id="type-16">
                                        <label for="type-16">Master Degrees</label>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>


            </div>

            <!-- Blocks Column -->
            <div class="blocks-column col-lg-9 col-md-12 col-sm-12">

                <!-- Filter Box -->
                <div class="filter-box">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <!-- Left Box -->
                        <div class="left-box d-flex align-items-center">
                            <div class="results">Showing 1–12 of 54 results</div>
                        </div>
                        <!-- Right Box -->
                        <div class="right-box d-flex align-items-center">
                            <div class="form-group m-0">
                                <select name="currency" class="">
                                    <option>Recently Added</option>
                                    <option>Added 01</option>
                                    <option>Added 02</option>
                                    <option>Added 03</option>
                                    <option>Added 04</option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Filter Box -->

                <div class="row clearfix">

                    <!-- Course Block Five -->
                    <div class="course-block-five col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="image">
                                <div class="heart fa fa-heart"></div>
                                <a routerLink="/course/1"><img src="https://jufailitech.com/envatoitems/LMSOne/html/images/resource/course-19.jpg" alt=""></a>
                            </div>
                            <div class="content">
                                <div class="d-flex">
                                    <ul class="feature-list p-0 unstyle-list">
                                        <li><a href="#">11th </a></li>
                                    </ul>
                                    <div class="price">₹600.00</div>
                                </div>
                                <h5><a routerLink="/course/1">Biology</a></h5>
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star-o"></span>
                                    <i>4.9 (34 reviews)</i>
                                </div>
                            </div>
                            <a class="course-btn" routerLink="/course/1">Course Details <span class="fa fa-arrow-right"></span></a>
                        </div>
                    </div>
                    
                </div>

                <!-- Styled Pagination -->
                <ul class="styled-pagination unstyle-list d-flex justify-content-center align-items-center mt-4">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="next"><a href="#"><span class="fa fa-arrow-right"></span></a></li>
                </ul>
                <!-- End Styled Pagination -->

            </div>

        </div>

    </div>
</section>


<app-footer></app-footer>
