<app-card cardTitle="Create Course" [options]="false">

  <form [formGroup]="studentForm">
    <div class="row">
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Gender</label>
        <select name="" id="" class="form-select" (change)="handleSelect($event  , 'gender')">
          <option value="1">Male</option>
          <option value="1">Female</option>
          <option value="1">Others</option>
        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">DOB</label>
        <input type="date" class="form-control" formControlName="dob">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Mobile No</label>
        <input type="number" class="form-control" formControlName="mobileno">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" formControlName="password">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">State</label>
        <select name="" id="" class="input-sm form-select " (change)="handleSelect($event  , 'state')">
          <option value="-1">Select State</option>
          <option value="1">Andhra Pradesh</option>
          <option value="2">Arunachal Pradesh</option>
          <option value="3">Assam</option>
          <option value="4">Bihar</option>
          <option value="5">Chhattisgarh</option>
          <option value="6">Goa</option>
          <option value="7">Gujarat</option>
          <option value="8">Haryana</option>
          <option value="9">Himachal Pradesh</option>
          <option value="10">Jammu and Kashmir</option>
          <option value="11">Jharkhand</option>
          <option value="12">Karnataka</option>
          <option value="13">Kerala</option>
          <option value="14">Madhya Pradesh</option>
          <option value="15">Maharashtra</option>
          <option value="16">Manipur</option>
          <option value="17">Meghalaya</option>
          <option value="18">Mizoram</option>
          <option value="19">Nagaland</option>
          <option value="20">Orissa</option>
          <option value="21">Punjab</option>
          <option value="22">Rajasthan</option>
          <option value="23">Sikkim</option>
          <option value="24">Tamil Nadu</option>
          <option value="25">Telangana</option>
          <option value="26">Tripura</option>
          <option value="27">Uttar Pradesh</option>
          <option value="28">Uttarakhand</option>
          <option value="29">West Bengal</option>

        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Amount</label>
        <input type="text" class="form-control" formControlName="amount">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Validity</label>
        <select name="" id="" class="form-select" (change)="handleSelect($event  , 'validity')">
          <option value="1">1 Month</option>
          <option value="1">6 Month</option>
          <option value="1">12 Month</option>
        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label"  >Select Course</label>
        <ng-multiselect-dropdown
          [placeholder]="'Select Course'"
          [settings]="dropdownSettings1"
          [data]="this.dropdownList"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
        >
      </ng-multiselect-dropdown>
      </div>
    </div>
    <button type="submit" class="btn col-2 btn-primary" (click)="addStudent()" *ngIf="this.loader == false">Add</button>
    <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
      <span class="sr-only">Loading...</span>
    </div>
  </form>

</app-card>


<app-card cardTitle="Student List" [options]="false">
  <table class="table" >
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Gender</th>
        <th scope="col">DOB</th>
        <th scope="col">Course </th>
        <th scope="col">Mobile No</th>
        <th scope="col">Password</th>
        <th scope="col">State</th>
        <th scope="col">Validity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of this.studentList; index as i">
        <th scope="row">{{i+1}} </th>
        <td>{{list.firstname}}</td>
        <td>{{list.lastname}}</td>
        <td>{{list.amount}}</td>
        <td>{{list.gender}}</td>
        <td>{{list.dob}}</td>
        <td>{{list.courseID}}</td>
        <td>{{list.mobileno}}</td>
        <td>{{list.password}}</td>
        <td>{{list.state}}</td>
        <td>{{list.validity}}</td>
        <td>
          <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
            <span class="sr-only">Loading...</span>
          </div>
          <a class="btn btn-danger btn-sm" (click)="handleDelete(list.id)" *ngIf="this.loader == false"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>
  <!-- <ng-template #elsePart>
    <div class="alert alert-danger" role="alert">
      There is no course created yet !
    </div>
  </ng-template> -->

</app-card>
