<app-card cardTitle="Create Course" [options]="false">

  <form>
    <div class="row">
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">First Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Last Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Gender</label>
        <select name="" id="" class="form-select">
          <option value="1">Male</option>
          <option value="1">Female</option>
          <option value="1">Others</option>
        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">DOB</label>
        <input type="date" class="form-control">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Mobile No</label>
        <input type="number" class="form-control">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">State</label>
        <select name="" id="" class="input-sm form-select ">
          <option value="-1">Select State</option>
          <option value="1">Andhra Pradesh</option>
          <option value="2">Arunachal Pradesh</option>
          <option value="3">Assam</option>
          <option value="4">Bihar</option>
          <option value="5">Chhattisgarh</option>
          <option value="6">Goa</option>
          <option value="7">Gujarat</option>
          <option value="8">Haryana</option>
          <option value="9">Himachal Pradesh</option>
          <option value="10">Jammu and Kashmir</option>
          <option value="11">Jharkhand</option>
          <option value="12">Karnataka</option>
          <option value="13">Kerala</option>
          <option value="14">Madhya Pradesh</option>
          <option value="15">Maharashtra</option>
          <option value="16">Manipur</option>
          <option value="17">Meghalaya</option>
          <option value="18">Mizoram</option>
          <option value="19">Nagaland</option>
          <option value="20">Orissa</option>
          <option value="21">Punjab</option>
          <option value="22">Rajasthan</option>
          <option value="23">Sikkim</option>
          <option value="24">Tamil Nadu</option>
          <option value="25">Telangana</option>
          <option value="26">Tripura</option>
          <option value="27">Uttar Pradesh</option>
          <option value="28">Uttarakhand</option>
          <option value="29">West Bengal</option>

        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Amount</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Validity</label>
        <!-- <input type="text" class="form-control"> -->
        <select name="" id="" class="form-select">
          <option value="1">1 Month</option>
          <option value="1">6 Month</option>
          <option value="1">12 Month</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn col-2 btn-primary">Add</button>
  </form>

</app-card>
