<app-card cardTitle="Create Course" [options]="false">

  <form [formGroup]="studentForm">
    <div class="row" #one>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">First Name</label>
        <input type="text" class="form-control" formControlName="firstName">
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName">
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">Gender</label>
        <select class="form-select"  [(ngModel)]="gender"  [ngModelOptions]="{standalone: true}"(change)="handleSelect($event  , 'gender')">
          <option value="Select any Gender">Select any Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">DOB</label>
        <input type="date" class="form-control"  formControlName="dob">
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">Mobile No</label>
        <input type="number" class="form-control" formControlName="mobileno">
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">Password</label>
        <input type="text" class="form-control" formControlName="password">
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">State</label>
        <select class="input-sm form-select " [(ngModel)]="state"  [ngModelOptions]="{standalone: true}" (change)="handleSelect($event  , 'state')">
          <option value="-1">Select State</option>
          <option value="1">Andhra Pradesh</option>
          <option value="2">Arunachal Pradesh</option>
          <option value="3">Assam</option>
          <option value="4">Bihar</option>
          <option value="5">Chhattisgarh</option>
          <option value="6">Goa</option>
          <option value="7">Gujarat</option>
          <option value="8">Haryana</option>
          <option value="9">Himachal Pradesh</option>
          <option value="10">Jammu and Kashmir</option>
          <option value="11">Jharkhand</option>
          <option value="12">Karnataka</option>
          <option value="13">Kerala</option>
          <option value="14">Madhya Pradesh</option>
          <option value="15">Maharashtra</option>
          <option value="16">Manipur</option>
          <option value="17">Meghalaya</option>
          <option value="18">Mizoram</option>
          <option value="19">Nagaland</option>
          <option value="20">Orissa</option>
          <option value="21">Punjab</option>
          <option value="22">Rajasthan</option>
          <option value="23">Sikkim</option>
          <option value="24">Tamil Nadu</option>
          <option value="25">Telangana</option>
          <option value="26">Tripura</option>
          <option value="27">Uttar Pradesh</option>
          <option value="28">Uttarakhand</option>
          <option value="29">West Bengal</option>

        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">Amount</label>
        <input type="text" class="form-control" formControlName="amount">
      </div>
      <div class="mb-3 col-lg-6">
        <label  class="form-label">Validity</label>
        <select class="form-select" [(ngModel)]="validity"  [ngModelOptions]="{standalone: true}" (change)="handleSelect($event  , 'validity')">
          <option value="1">1 Month</option>
          <option value="6">6 Month</option>
          <option value="12">12 Month</option>
        </select>
      </div>
      <div class="mb-3 col-lg-6">
        <label class="form-label">Select Course</label>
        <select class="form-select"  [(ngModel)]="courseID"  [ngModelOptions]="{standalone: true}" (change)="handleCourse($event)">
          <option *ngFor="let list of this.courseList" value="{{list.id}}">{{list.title}}</option>
        </select>
      </div>
    </div>
    <div  *ngIf="!this.onedit" >
      <button type="submit" class="btn col-2 btn-primary" (click)="addStudent()" *ngIf="this.loader == false">Add</button>
    </div>
    <div  *ngIf="this.onedit" >
      <button type="submit" class="btn col-2 btn-primary" (click)="addStudent()" *ngIf="this.loader == false">Update</button>
    </div>
    <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
      <span class="sr-only">Loading...</span>
    </div>
  </form>

</app-card>


<app-card cardTitle="Student List" [options]="false">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Gender</th>
        <th scope="col">DOB</th>
        <th scope="col">Course </th>
        <th scope="col">Mobile No</th>
        <th scope="col">Password</th>
        <th scope="col">State</th>
        <th scope="col">Validity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of this.studentList; index as i">
        <th scope="row">{{i+1}} </th>
        <td>{{list.firstname}}</td>
        <td>{{list.lastname}}</td>
        <td>{{list.amount}}</td>
        <td>{{list.gender}}</td>
        <td>{{list.dob}}</td>
        <td>{{list.courseID}}</td>
        <td>{{list.mobileno}}</td>
        <td>{{list.password}}</td>
        <td>{{list.state}}</td>
        <td>{{list.validity}}</td>
        <td>
          <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
            <span class="sr-only">Loading...</span>
          </div>
          <a class="btn btn-danger btn-sm" (click)="handleDelete(list.id)" *ngIf="this.loader == false"><i class="fa fa-trash"></i></a>
          <a class="btn btn-info mx-2 btn-sm" (click)="handleEdit(list ,one )"><i class="fa fa-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>


</app-card>
