<app-header></app-header>

<!-- banner -->
<section class="banner">
    <div class="banner-content">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/">About</a></li>
      </ol>
      <p class="banner-heading">About Us</p>
    </div>
  </section>

  <section class="main-content">
    <div class="sidebar">
      <div class="menu-item active">Introduction</div>
      <div class="menu-item">An Enduring Foundation</div>
      <div class="menu-item">Director's Message</div>
      <div class="menu-item">Academic Strength</div>
      <div class="menu-item">Teaching Methodology</div>
      <div class="menu-item">CSR</div>
    </div>
    <div class="content">
      <div class="card">
        <img src="../../../assets/images/about/cardCover.jpg" alt="Card Image" class="card-image">
        <div class="card-content">
          <h2 class="card-title">Hello Learners</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum. Cras venenatis euismod malesuada. Maecenas sit amet accumsan dolor. Fusce euismod nec lectus et molestie. Suspendisse potenti. Ut id diam a ligula vestibulum commodo. Curabitur quis luctus lorem. Nullam vestibulum ante vel orci dictum, a dictum libero dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam auctor felis eget erat fermentum, a suscipit nulla facilisis. Etiam dictum magna eu urna cursus, at vestibulum velit scelerisque.</p>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>
