<app-card cardTitle="Add Study Abroad" [options]="false">
  <form [formGroup]="aboutForm">
    <div class="row">
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Description</label>
        <!-- <input type="text" class="form-control" formControlName="bannerTitle"> -->
        <!-- <textarea name="" class="form-control" id="" formControlName="title"></textarea> -->
        <!-- <div [froalaEditor] [froalaEditorConfig]="editorConfig" [(froalaModel)]="editorContent"></div> -->
        <!-- app.component.html -->
        <!-- <textarea [froalaEditor]="editorConfig"></textarea> -->
        <angular-editor formControlName="title" [config]="editorConfig"></angular-editor>
      </div>
      <div class="mb-3 col-lg-6">
        <label for="" class="form-label">Image</label>
        <input type="file" class="form-control" (change)="onFileSelect($event)" formControlName="image">
      </div>
    </div>
    <button type="submit" class="btn col-2 btn-primary" (click)="submit()" *ngIf="loader == false"
      [disabled]="List.length === 1">
      Add
    </button>
    <div class="spinner-border text-dark" role="status" *ngIf="this.loader == true">
      <span class="sr-only">Loading...</span>
    </div>
  </form>
</app-card>
<app-card cardTitle="Study Abroad List" [options]="false">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of this.List; index as i">
        <th scope="row">{{i+1}} </th>
        <td>{{list.title}}</td>
        <td><img
            src="http://paramapi.getmocktest.com/{{list.imagePath.replace('wwwroot\\', '').replace('/\\/g', '/')}}"
            width="100px" height="100px" /></td>
        <td><a class="btn btn-danger btn-sm" (click)="handleDelete(list.id)"><i class="fa fa-trash"></i></a></td>
      </tr>
    </tbody>
  </table>

</app-card>
