






/***Nandrid additions **/
.carousel-item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  position: relative;
}

.fade-in .image {
  animation: fadeInImage 0.5s forwards;
}

.fade-in .text {
  animation: fadeInText 0.5s 0.5s forwards;
}

.fade-out .image, .fade-out .text {
  animation: fadeOut 1s forwards;
}

@keyframes fadeInImage {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInText {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.image, .text {
  opacity: 0;
}

/** Each element fade in **/
.box {
  width: 100%;
  // height: 200px;
  // margin: 20px 0;
  // background-color: lightcoral;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}
