<app-header></app-header>



<!-- <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="background-color: black;">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of items; let i = index" [class.active]="i === 0" style="color: white; background-color: black;">
      <div class="d-block w-100 text-center">{{ item }}</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div> -->


<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of items; let i = index" 
         [ngClass]="{'active': i === activeIndex, 'fade-in': i === activeIndex, 'fade-out': i !== activeIndex && !firstLoad}">
      <img [src]="item.image" class="d-block w-100 image" alt="Image">
      <div class="carousel-caption text">{{ item.text }}</div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" (click)="prevSlide()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" (click)="nextSlide()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>


<div class="section_1" >
  <div class="container box" id="engineer_doctor">
    <div class="row align-items-center justify-content-center text-center" >
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center mb-4 mb-lg-0">
        <div>
          <h1 class="source-sans-3-main"><i>Shaping</i> Tomorrow's <b>Doctors</b> and <b>Engineers</b>, Today!</h1>
          <a class="btn btn-primary" routerLink="/login">Start Learning</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <img src="assets/home.png" height="300"/>
      </div>
    </div>
  </div>
  <div class="container box" id="aboutus">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
        <img src="assets/about_us.png" height="400"/>
      </div>
      <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center mb-4 mb-lg-0">
        <div>
          About us
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container box"  id="servicees">
  <h1 class="text-center source-sans-3-main" style="padding: 20px; font-weight: bold;">Services we offer</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12" >
        <mat-card appearance="outlined">
          <img mat-card-image src="assets/study_material.png" width="300" alt="Study Material Image">
          <mat-card-content><b>Study material</b> which can be accessed by students anytime, anywhere. All you need is an internet connection.</mat-card-content>
          <mat-card-actions>
            <button  mat-flat-button>Learn more</button>
          </mat-card-actions>
        </mat-card>        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card appearance="outlined">
          <img mat-card-image src="assets/online_lectures.png" width="300" alt="Study Material Image">
          <mat-card-content><b>Online lectures</b> with doubt clarifications. Missed a class? No issue. Recorded sessions available for the missed classes.</mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn more</button>
          </mat-card-actions>
        </mat-card>        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-card appearance="outlined">
          <img mat-card-image src="assets/test_series.png" width="300" alt="Study Material Image">
          <mat-card-content><b>Interactive test series</b> to brush up your knowledge and help you reach the goal of becoming what you want to be.</mat-card-content>
          <mat-card-actions>
            <button mat-button>Learn more</button>
          </mat-card-actions>
        </mat-card>        
      </div>
    </div>
  </div>
</div>


<div class="container box" id="study_resources">
  <h1 class="text-center source-sans-3-main" style="padding: 20px; margin-top: 20px; font-weight: bold;">Study Resources</h1>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-card appearance="outlined">
        <img mat-card-image src="assets/notes.png" width="300" alt="Study Material Image">
        <mat-card-content>Notes</mat-card-content>
        <mat-card-actions>
          <button mat-button>Start Learning</button>
        </mat-card-actions>
      </mat-card>        
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-card appearance="outlined">
        <img mat-card-image src="assets/reference_books.png" width="300" alt="Study Material Image">
        <mat-card-content>Reference Books</mat-card-content>
        <mat-card-actions>
          <button mat-button>Start Learning</button>
        </mat-card-actions>
      </mat-card>        
    </div>
    
    <div class="col-lg-4 col-md-6 col-sm-12">
      <mat-card appearance="outlined">
        <img mat-card-image src="assets/ncert_books.jpg" width="300" alt="Study Material Image">
        <mat-card-content>NCERT Solutions</mat-card-content>
        <mat-card-actions>
          <button mat-button>Start Learning</button>
        </mat-card-actions>
      </mat-card>        
    </div>
  </div>
</div>


<div class="container text-center mt-5" style="margin-top: 3% !important;">
  <h2 class="mb-3 main_txt title">Course We Offer</h2>
  <!-- <p>Unlock Your Potential with Online Learning</p> -->
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let course of courseList">
        <div class="card card-neet">
          <div class="card-body p-0">
              <img [src]="'http://paramapi.getmocktest.com/'+course.image.replace('wwwroot\\', '').replace('/\\/g', '/')" alt="{{course.title}}.png" class="card-img ">
              <!-- <img src="http://paramapi.getmocktest.com/uploads\Image.png" alt="NEET" class="card-img "> -->
              <div class="p-4 mb-3">
                <h5 class="card-title text-start" title="{{course.title}}">{{course.title}} </h5>
                <div class="d-flex justify-content-start pills_data mb-3">
                  <!-- <span class="badge badge-pill badge-light border_pills mx-1">
                    12th
                  </span>
                  <span class="badge badge-pill badge-light border_pills mx-1">
                    11th
                  </span> -->
                  <span *ngFor="let tag of course.tags.split(',')" class="badge badge-pill badge-light border_pills mx-1">
                    {{ tag.trim() }}
                  </span>
                </div>
                <a routerLink="maincourse/{{course.id}}" class="btn btn-link float-start p-0">Know More <span>&rarr;</span></a>
              </div>
          </div>
        </div>
    </div>

  </div>
</div>





<section class="container-fluid bg_blue_img p-0 pt-5 d-none" >

  <div class="container text-center my-5">
    <h2>Study Resources</h2>
    <!-- <p class="lead">A diverse array of learning materials to enhance your educational journey.</p> -->
    <div class="row">
      <div class="col-md-4">
        <div class="card card-notes">
          <div class="card-body">
            <img src="../../../assets/images/home/notes.png" alt="Notes" class="card-img w-50 m-auto d-block">
            <h5 class="card-title text-center">Notes</h5>
            <p class="card-text text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic .</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-reference">
          <div class="card-body">
            <img src="../../../assets/images/home/refrence.png" alt="Reference Books" class="card-img w-50 m-auto d-block">
            <h5 class="card-title text-center mt-3">Reference Books</h5>
            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. dolorum,?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-ncert">
          <div class="card-body">
            <img src="../../../assets/images/home/ncert.png" alt="NCERT Solutions" class="card-img w-50 m-auto d-block">
            <h5 class="card-title text-center  mt-3">NCERT Solutions</h5>
            <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delt, facilis
              nobis!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="container study-abroad">
  <div class="row" *ngFor="let list of aboutList">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h2 class="title">Study Abroad</h2>
      <p [innerHTML]="truncateText(list.title, 50)"></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
      <div class="d-flex align-items-center">
        <a routerLink="study-abroad" class="btn btn-danger">Know More</a>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <img src="assets/study.png" alt="Study Abroad Illustration" class="w-100"> -->
      <img [src]="'http://paramapi.getmocktest.com/'+list.imagePath.replace('wwwroot\\', '').replace('/\\/g', '/')" alt="{{list.image}}.png" class="w-100">
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="text-center mb-4">
      <h2 class="title">What Students Say</h2>
      <!-- <p>Lorem ipsum dolor sit amet consectetur. Tempor id ac ut tincidunt curabitur nisl.</p> -->
  </div>
  <div class="testimonial-slider">
      <div class="testimonial p-4" *ngFor="let testimonial of testimonialList">
        <div>
          <p>{{ testimonial.description }}</p>
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <img [src]="'http://paramapi.getmocktest.com/'+testimonial.image.replace('wwwroot\\', '').replace('/\\/g', '/')"  alt="Student Image" class="w-25 avatar">
              <div class="text-center">
                <h6 class="m-0 mx-3">{{ testimonial.title }}</h6>
                <small>{{ testimonial.tag }}</small>
              </div>
            </div>
            <div>
               <!-- <i class="fas fa-quote-right"></i> -->
                <img src="assets/testimonal.png" class="w-50" />
            </div>
          </div>
        </div>
      </div>
  </div>
</div>




<div class="container my-5">
  <div class="text-center mb-4">
      <h2 class="title">Shop With Us</h2>
      <!-- <p>A diverse array of learning materials to enhance your educational journey.</p> -->
  </div>
  <div class="row">
      <div class="col-md-4" *ngFor="let merchandies of merchandiesList">
          <!-- <div class="product-card">
            <img [src]="'http://paramapi.getmocktest.com/'+merchandies.imagePath.replace('wwwroot\\', '').replace('/\\/g', '/')"  alt="Student Image" class="w-100">
            <div class="d-flex justify-content-between align-items-center t-2">
                <div class="product-name">{{merchandies.title}}</div>
                  <i class="fas fa-heart"></i>
              </div>
              <div class="star-rating my-2">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="fas fa-star"></i>
              </div>
              <div class="product-discount"><span class="text-dark">₹ {{merchandies.price}} </span>
                <span class="product-price mx-2 d-none ">₹60.00</span><span class="d-none">8.35% OFF</span></div>
          </div> -->

          <div class="product-card shadow-sm rounded p-3 mb-4">
            <div class="product-image-wrapper position-relative overflow-hidden rounded">
                <img [src]="'http://paramapi.getmocktest.com/'+merchandies.imagePath.replace('wwwroot\\', '').replace('/\\/g', '/')"  alt="Student Image" class="product-image img-fluid">
                <button class="add-to-cart-btn btn btn-primary position-absolute" routerLink="/shop/{{merchandies.id}}">View More</button>
            </div>
            <div class="product-details mt-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="product-name mb-0">{{merchandies.title}}</h5>
                    <i class="fas fa-heart text-danger"></i>
                </div>
                <div class="star-rating mb-2">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                </div>
                <div class="product-pricing">
                    <span class="text-dark h5">₹{{merchandies.price}}</span>
                    <span class="product-price text-muted mx-2 d-none"><s>₹60.00</s></span>
                    <span class="discount d-none text-success">8.35% OFF</span>
                </div>
            </div>
        </div>

      </div>
  </div>
</div>
<app-footer></app-footer>
