<footer>
  <div class="footer-top bg-dark text-white pt-5 pb-3">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <h5>Contact Us</h5>
                  <p><i class="fas fa-map-marker-alt"></i> 3rd Floor, Chetan Trade Centre, Opp. SFS School, Jalna Road, Ch. Sambhajinagar (Aurangabad) - 431005.</p>
                  <p><i class="fas fa-phone"></i>&nbsp; <a href="tel:8055055001">8055055001</a> | <a href="tel:8055055002">8055055002</a></p>
                  <p><i class="fas fa-envelope"></i> param@abc.com</p>
                  <div class="social-icons">
                      <a href="#" class="text-white mr-2"><i class="fab fa-facebook-f"></i></a>
                      <a href="#" class="text-white mr-2"><i class="fab fa-twitter"></i></a>
                      <a href="#" class="text-white mr-2"><i class="fab fa-instagram"></i></a>
                      <a href="#" class="text-white mr-2"><i class="fab fa-linkedin"></i></a>
                  </div>
              </div>
              <div class="col-md-3">
                  <h5>Support</h5>
                  <ul class="list-unstyled">
                      <li><a routerLink="/about" class="text-white">About Us</a></li>
                      <li><a href="#" class="text-white">FAQs</a></li>
                      <li><a  routerLink='/' class="text-white">Courses</a></li>
                      <li><a href="#" class="text-white">Gallery</a></li>
                      <li><a routerLink="/blog" class="text-white">Blog</a></li>
                      <li><a routerLink="/contact" class="text-white">Contact</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h5>Useful Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="#" class="text-white">Study Material</a></li>
                      <li><a href="#" class="text-white">Online Lectures</a></li>
                      <li><a href="#" class="text-white">Test Series</a></li>
                      <li><a href="#" class="text-white">Notes</a></li>
                      <li><a href="#" class="text-white">Reference Books</a></li>
                      <li><a href="#" class="text-white">NCERT Solutions</a></li>
                  </ul>
              </div>
              <div class="col-md-3">
                  <h5>Newsletter</h5>
                  <p>To get the latest news and latest updates from us.</p>
                  <form action="#">
                      <div class="form-group">
                          <input type="email" class="form-control" placeholder="Enter your email">
                      </div>
                      <button type="submit" class="btn btn-danger btn-block">SUBSCRIBE</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom bg-light text-center py-3">
      <div class="container">
          <h5 class="text-start  my-3">Courses We Offer</h5>
          <div class="row">
              <div class="col-md-2">
                  <h6>NEET</h6>
                  <p>Class 11</p>
                  <p>Class 12</p>
                  <p>Repeater</p>
              </div>
              <div class="col-md-2">
                  <h6>IIT JEE</h6>
                  <p>Class 11</p>
                  <p>Class 12</p>
                  <p>Repeater</p>
              </div>
              <div class="col-md-2">
                  <h6>MHT-CET</h6>
                  <p>PCM</p>
                  <p>PCB</p>
              </div>
              <div class="col-md-2">
                  <h6>HSC</h6>
                  <p>Class 11</p>
                  <p>Class 12</p>
              </div>
              <div class="col-md-2">
                  <h6>STD. X</h6>
                  <p>CBSE</p>
                  <p>Maharashtra Board</p>
              </div>
              <div class="col-md-2">
                  <h6>FOUNDATION</h6>
                  <p>Class 10</p>
                  <p>Class 9</p>
                  <p>Class 8</p>
              </div>
          </div>
          <p class="mt-3 text-center">&copy; 2024 Param Institute | All rights reserved.</p>
      </div>
  </div>
</footer>
