<app-header></app-header>

<!-- banner -->
<section class="banner">
  <div class="banner-content">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/">Blogs</a></li>
    </ol>
    <p class="banner-heading">Blogs</p>
  </div>
</section>

<!-- body -->
<section class="p-6 blog-body">
  <div class="d-flex main-container w-100">
    <section class="blogs-list px-4 bg-ssuccess flex-grow-1">
      <div class="row" *ngFor="let items of blogList">

        <div class="col-lg-6">
          <a routerLink="/blog-details/{{items.id}}">
            <div class="card w-100">
              <img class="card-img-top w-100" src="http://paramapi.getmocktest.com/{{items.imagePath.replace('wwwroot\\', '').replace('/\\/g', '/')}}" alt="blog-1" />
              <div class="card-body px-4">
                <div class="d-flex gap-4">
                  <p class="d-flex align-items-center gap-2 text-secondary">
                    <img src="../../../assets/images/blogs/calendar-icon.png" alt="" /><span>{{items.date}}</span>
                  </p>
                  <p class="d-flex align-items-center gap-2 text-secondary">
                    <img src="../../../assets/images/blogs/tag-icon.png" alt="" /><span>Education</span>
                  </p>
                </div>
                <p style="font-size: 20px"><strong>{{items.title}}</strong></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
    <aside class="blogs-panel bg-sescondary">
      <div class="search panel-item">
        <p class="panel-item-title">Search</p>
        <div class="search-input w-100 d-flex mt-4">
          <input type="text" placeholder="Search..." class="border flex-grow-1 p-3" />
          <button class="search-button">
            <img class="p-3" src="../../../assets/images/blogs/search-icon.png" alt="" />
          </button>
        </div>
      </div>
      <div class="panel-item">
        <p class="panel-item-title">Categories</p>
        <div class="categories w-100 d-flex mt-4">
          <ul class="categories-list">
            <li class="cl-item"><span>Business</span><span>(7)</span></li>
            <li class="cl-item"><span>Human Resources</span><span>(7)</span></li>
            <li class="cl-item"><span>Lifestyle</span><span>(8)</span></li>
            <li class="cl-item"><span>Merketing</span><span>(3)</span></li>
            <li class="cl-item"><span>English</span><span>(4)</span></li>
            <li class="cl-item"><span>Indian Politics</span><span>(7)</span></li>
            <li class="cl-item"><span>Tech</span><span>(7)</span></li>
          </ul>
        </div>
      </div>
      <div class="panel-item">
        <p class="panel-item-title">Popular Posts</p>
        <div class="w-100 d-flex flex-column mt-4">
          <!-- postcards -->
          <div class="mb-3 w-100" style="max-width: 540px">
            <div class="d-flex align-items-center gap-3">
              <div class="">
                <img src="../../../assets/images/user/avatar-2.jpg" width="82px" height="70px" alt="Card title" />
              </div>
              <div class="">
                <div class="card-body">
                  <p style="font-size: 16px" class="card-title"><strong>How To Become A Writer</strong></p>
                  <p class="card-text d-flex align-items-center gap-2 text-secondary">
                    <img src="../../../assets/images/blogs/calendar-icon.png" alt="" />November 08, 2024
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 w-100" style="max-width: 540px">
            <div class="d-flex align-items-center gap-3">
              <div class="">
                <img src="../../../assets/images/user/avatar-5.jpg" width="82px" height="70px" alt="Card title" />
              </div>
              <div class="">
                <div class="card-body">
                  <p style="font-size: 16px" class="card-title"><strong>Top Workplace Learning News</strong></p>
                  <p class="card-text d-flex align-items-center gap-2 text-secondary">
                    <img src="../../../assets/images/blogs/calendar-icon.png" alt="" />November 08, 2024
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3 w-100" style="max-width: 540px">
            <div class="d-flex align-items-center gap-3">
              <div class="">
                <img src="../../../assets/images/user/img-avatar-3.jpg" width="82px" height="70px" alt="Card title" />
              </div>
              <div class="">
                <div class="card-body">
                  <p style="font-size: 16px" class="card-title"><strong>Data Science Importance Rules</strong></p>
                  <p class="card-text d-flex align-items-center gap-2 text-secondary">
                    <img src="../../../assets/images/blogs/calendar-icon.png" alt="" />November 08, 2024
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-item">
        <p class="panel-item-title">Popular Tags</p>
        <div class="d-flex gap-2 mt-4 flex-wrap">
          <div class="badge text-secondary">Business</div>
          <div class="badge text-secondary">Data Sience</div>
          <div class="badge text-secondary">Language</div>
          <div class="badge text-secondary">English</div>
          <div class="badge text-secondary">Video</div>
          <div class="badge text-secondary">Web Dev</div>
          <div class="badge text-secondary">Flutter</div>
          <div class="badge text-secondary">Investment</div>
          <div class="badge text-secondary">Data Sience</div>
          <div class="badge text-secondary">Language</div>
          <div class="badge text-secondary">English</div>
          <div class="badge text-secondary">Video</div>
        </div>
      </div>
    </aside>
  </div>
</section>

<app-footer></app-footer>
